<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach(function(item1){ %>
    <form action="/delete" method="POST">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item1._id%>" onchange= "this.form.submit()">
        <input type="hidden" name="listname" value="<%= listTitle%>">
        <p><%=item1.item%></p>
      </div>
    </form>
   <% }) %>
   

      <form class="item" action="/" method="POST">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value ="<%= listTitle%>" >+</button>
      </form>
  </div>

<%- include("footer") -%>
